{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }} 
<div class="container-fluid">
    {#{ dump(books) }#}
    {{ showflashes() }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ __('Book') }}</th>
                <th> {{ __('Actions') }} </th></tr>
        </thead>
        <tbody>
            {% for item in books %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td class="actions">
                        <a href="{{ path('paustianbookmodule_admin_edit') }}/{{ item.bid }}" class="fa fa-pencil"></a>
                        <a href="{{ path('paustianbookmodule_admin_delete') }}/{{ item.bid }}" class="fa fa-trash-o" onclick="return confirm('Are you sure you want to delete this book?')"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
