{{ pageAddAsset('javascript', zasset('jquery-ui/jquery-ui.js')) }}

{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', zasset('@PaustianBookModule:css/forms.css')) }}
{{ adminHeader() }}

<div class="container-fluid">
    {{ showflashes() }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'Link' | trans  }}</th>
                <th>{{ 'Chapter Number' | trans  }}</th>
                <th> {{ 'Article Number' | trans  }} </th>
                <th> {{ 'Valid URL' | trans  }} </th>
            </tr>
        </thead>
        <tbody>
            {% for item in urltable %}
                <tr>
                    <td>{{ item.url }}</td>
                    <td>{{ item.chap_no }}</td>
                    <td>{{ item.article_no }}</td>
                    <td>{{ item.valid }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
<script>
    (function ($) {
        $(document).toolTip();
    })(jQuery);
</script>
{{ adminFooter() }}

