{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }} 
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-edit"></span>
            {{ __("Edit a glossary term") }}
        </h3>
        <p>{{ __("Enter the id of the term to edit and click ok") }}</p>
        {{ showflashes() }}
        <fieldset>
            <ul class="pagination pagination-sm"> 
           {% for letter in 'a'|upper..'z'|upper %} 
           <li ><a  href="{{ path('paustianbookmodule_admin_modifyglossary') }}/{{ letter }}">{{ letter }}</a></li>    
           {% endfor %}
            </ul>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ __('Term') }}</th>
                <th> {{ __('Actions') }} </th></tr>
        </thead>
        <tbody>
            {% for term in terms %}
                <tr>
                    <td>{{ term.term }}</td>
                    <td class="actions">
                        <a href="{{ path('paustianbookmodule_admin_editglossary') }}/{{ term.gid }}" class="fa fa-pencil"></a>
                        <a href="{{ path('paustianbookmodule_admin_deleteglossary') }}/{{ term.gid }}" class="fa fa-trash-o" onclick="return confirm('Are you sure you want to delete this glossary term?')"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        </fieldset>
    </div>
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}  
