{{ pageAddAsset('javascript', zasset('jquery-ui/jquery-ui.js')) }}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }} 
<div class="container-fluid">
    {{ showflashes() }}
    <h3>{{ __('Chose a figure to edit or delete') }}</h3>
    {% for book in books %}
        <h3>{{ book.bookName }}</h3>
        {% set currChap = -1 %}
        <div id="FigureList{{ book.bid }}">
            {% for figure in book.figures %}
                {% if currChap != figure.chap_number %}
                        {% if currChap != -1 %}        
                        </tbody>
                        </table>
                        </div>
                        {% endif %}
                    {% set currChap = figure.chap_number %}
                    <h4>{{ figure.chap_number }} </h4>
                    <div>
                    <table class="table table-striped">
                    <tbody>
                {% endif %}
                <tr>    
                    <td>{{ figure.chap_number }} - {{ figure.fig_number }} {{ figure.title }}</td>
                    <td><a href="{{ path('paustianbookmodule_admin_editfigure') }}/{{ figure.fid }}" class="fa fa-pencil"></a>
                        <a href="{{ path('paustianbookmodule_admin_deletefigure') }}/{{ figure.fid }}" class="fa fa-trash-o" onclick="return confirm('Are you sure you want to delete this figure?')"></a></td>
                </tr>
            {% endfor %}
            {% if currChap != -1 %}        
                    </tbody>
                </table>
               </div>     
            {% endif %}
        </div>
    {% endfor %}

    <script type="text/javascript">
        function buildFigureTable() {
            {% for book in books %}
                jQuery('#FigureList{{ book.bid }}').accordion({
                    collapsible: true,
                    heightStyle: "content"
                });
            {% endfor %}
        }
        document.onreadystatechange = function () {
            if (document.readyState === 'complete') {
                buildFigureTable();
            }
        };
    </script>
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}