{{ pageAddAsset('stylesheet', zasset('@PaustianBookModule:css/forms.css')) }}
<h3>
    <span class="fa fa-upload"></span>
    {{ "Import Glossary Items" | trans }}
</h3>
<p>{{ "Paste the correctly formated xml into the textarea below and click Import Glossary Items. Below is an example of properly formatted xml." | trans }}</p>
<p>&lt;glossary&gt;<br/>
    &lt;glossitem&gt;<br/>
    &lt;term&gt;<b>{{ "term" | trans }}</b>&lt;/term&gt;<br/>
    &lt;definition&gt;<b>{{ "definition" | trans }}</b> &lt;/definition&gt;<br/>
    &lt;/glossitem&gt;<br/>
    &lt;/glossary&gt;
</p>
{{ showflashes() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
<fieldset>
    <legend>{{ 'Glossary xml' | trans }}</legend>
    {{ form_row(form.importText, {'attr': {'class': 'book_contents'}}) }}
</fieldset>
<div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
    </div>
</div>
{{ form_end(form) }}

