{{ pageAddAsset('javascript', zasset('jquery-ui/jquery-ui.js')) }}

{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', zasset('@PaustianBookModule:css/forms.css')) }}
{{ adminHeader() }}
<div class="container-fluid">
    {{ showflashes() }}
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ __('Glossary Term') }}</th>
                <th> {{ __('Actions') }} </th></tr>
        </thead>
        <tbody>
            {% for item in glossaryItems %}
                <tr>
                    <td>{{ item.term }}</td>
                    <td class="actions">
                        <a href="{{ path('paustianbookmodule_admin_editglossary') }}/{{ item.gid }}" class="fa fa-pencil" title="{{ __('Edit Glossary Term') }}"></a>
                        <a href="{{ path('paustianbookmodule_admin_deleteglossary') }}/{{ item.gid }}" class="fa fa-trash-o" title="{{ __('Delete Glossary Term') }}" onclick="return confirm('Are you sure you want to delete this glossary term?')"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
<script>
    (function ($) {
        $(document).toolTip();
    })(jQuery);
</script>
{{ adminFooter() }}