{{ pageAddAsset('javascript', zasset('jqueryui/jquery-ui.js')) }}
{{ pageAddAsset('stylesheet', asset('jqueryui/themes/base/jquery-ui.min.css')) }}

<h3>
    <span class="fa fa-edit"></span>
    {{ "Chose a Figure to Edit" | trans }}
    {{ pageSetVar('title', 'Choose Figure'|trans) }}
</h3>
    {{ showflashes() }}
    {% for book in books %}
        <h3>{{ book.bookName }}</h3>
        {% set currChap = -1 %}
        <div id="FigureList{{ book.bid }}">
            {% for figure in book.figures %}
                {% if currChap != figure.chap_number %}
                        {% if currChap != -1 %}        
                        </tbody>
                        </table>
                        </div>
                        {% endif %}
                    {% set currChap = figure.chap_number %}
                    <h4>{{ figure.chap_number }} </h4>
                    <div>
                    <table class="table table-striped">
                    <tbody>
                {% endif %}
                <tr>    
                    <td>{{ figure.chap_number }} - {{ figure.fig_number }} {{ figure.title }}</td>
                    <td><a href="{{ path('paustianbookmodule_admin_editfigure') }}/{{ figure.fid }}" class="fas fa-edit"></a>
                        <a href="{{ path('paustianbookmodule_admin_deletefigure') }}/{{ figure.fid }}" class="fas fa-trash" onclick="return confirm('Are you sure you want to delete this figure?')"></a></td>
                </tr>
            {% endfor %}
            {% if currChap != -1 %}        
                    </tbody>
                </table>
               </div>     
            {% endif %}
        </div>
    {% endfor %}

    <script type="text/javascript">
        document.onreadystatechange = function () {
            if (document.readyState === 'complete') {
                (function($) {
                    {% for book in books %}
                    $('#FigureList{{ book.bid }}').accordion({
                        collapsible: true,
                        heightStyle: "content"
                    });
                    {% endfor %}
                })(jQuery)
            }
        };
    </script>
</div>
