<h3>
    <span class="fa fa-edit"></span>
    {{ "Create/Edit a Book" | trans }}
    {{ pageSetVar('title', 'Edit/Delete Book'|trans) }}
</h3>
<div class="alert alert-info">{{ "Create/Edit a Book Title" | trans }}</div>
{{ showflashes() }}
{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ 'Title' | trans }}</legend>
    {{ form_row(form.name) }}
</fieldset>
<div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
        {{ form_widget(form.add, {'attr': {'class': 'btn btn-success'}}) }}
    </div>
</div>
{{ form_end(form) }}
