{% form_theme form 'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig' %}
{{ pageAddAsset('stylesheet', zasset('@PaustianBookModule:css/forms.css')) }}
{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }} 
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-edit"></span>
            {{ __("Edit an Article") }}
        </h3>
        <p>{{ __("Give the article a name") }}</p>
        {{ showflashes() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Article Data') }}</legend>
            {{ form_row(form.title) }}
            {{ form_row(form.contents, {'attr': {'class': 'book_contents'}}) }}
            {{ form_row(form.lang) }}
            {{ form_row(form.next) }}
            {{ form_row(form.prev) }}
            {{ form_row(form.number) }}
        </fieldset>
        {{ notifyDisplayHooks('book.ui_hooks.pages.form_edit', form.aid|default(null)) }}
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
