{{ pageAddAsset('javascript', zasset('jquery-ui/jquery-ui.js')) }}

{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', zasset('@PaustianBookModule:css/forms.css')) }}
{{ adminHeader() }}
<div class="container-fluid">
    {{ showflashes() }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'id' | trans  }}</th>
                <th>{{ 'Chapter' | trans  }}</th>
                <th>{{ 'Book' | trans  }}</th>
                <th> {{ 'Actions' | trans  }} </th></tr>
        </thead>
        <tbody>
            {% for item in chapters %}
                <tr>
                    <td>{{ item.cid }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ books[loop.index0] }}</td>
                    <td class="actions">
                        <a href="{{ path('paustianbookmodule_admin_editchapter') }}/{{ item.cid }}" class="fa fa-pencil" title="{{ 'Edit chapter' | trans  }}"></a>
                        <a href="{{ path('paustianbookmodule_admin_deletechapter') }}/{{ item.cid }}" class="fa fa-trash-o" title="{{ 'Delete chapter' | trans  }}" onclick="return confirm('Are you sure you want to delete this chapter?')"></a>
                        <a href="{{ path('paustianbookmodule_admin_export') }}/{{ item.cid }}" class="fa fa-download" title="{{ 'Export html chapter' | trans  }}"></a>
                        <a href="{{ path('paustianbookmodule_admin_export') }}/{{ item.cid }}/0" class="fa fa-arrow-circle-down" title="{{ 'Export xml chapter' | trans  }}"></a>
                        <a href="{{ path('paustianbookmodule_admin_searchreplace') }}/{{ item.cid }}" class="fa fa-search" title="{{ 'Do regex search and replace' | trans  }}"></a>
                        <a href="{{ path('paustianbookmodule_admin_verifyurls') }}/{{ item.cid }}" class="fa fa-link" title="{{ 'Verify the urls in the chapter' | trans  }}"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
<script>
    (function ($) {
        $(document).toolTip();
    })(jQuery);
</script>
{{ adminFooter() }}
