<h3>{{ __('Chapter') }} {{ chapter.number }} - {{ chapter.name }}</h2>
{% for article in articles %}
<h4><a href="{{ path('paustianbookmodule_user_displayarticle', {aid:article.aid}) }}">{{ chapter.number }} - {{ article.number }} {{ article.title }}</a></h4> 
{% endfor %}
