{{ pageSetVar('title', article.title) }}
{{ pageAddAsset('javascript', zasset('@PaustianBookModule:js/book.js')) }}
{{ pageAddAsset('javascript', zasset('@PaustianBookModule:js/summaryModifier.js')) }}

{% set formScript %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.glossary').tooltip();
            });
        })(jQuery);
    </script>
{% endset %}
{{ pageAddAsset('footer', formScript) }}

<p> {{ showflashes() }} </p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{ chnumber }}-{{ article.number }} {{ article.title|raw }}</h2>
        <ul class="list-inline panel-actions">
            <li><a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen"><i class="fa fa-expand"></i></a></li>
        </ul>
    </div>
    <div class="panel-body">
        {% if article.counter == 1 %}
            <p>( {{ article.counter }} Read)</p>
            {% else %}
            <p>( {{ article.counter }} Reads)</p>
        {% endif %}

        {% if show_internals %}
            <a href="{{ path('paustianbookmodule_admin_editarticle') }}/{{ article.aid }}" class="fa fa-pencil">{{ 'Edit Article' | trans  }}</a>
            <p>{{ 'Article id:' | trans  }} {{ article.aid }}</p>
            <p>{{ 'Chapter id:' | trans  }}{{ article.cid }}</p>
            <p>{{ 'Book id:' | trans  }}{{ article.bid }}</p>
        {% endif %}
        <input type="hidden" id="aid" value="{{ article.aid }}" name="aid" />
        <input type="hidden" id="cid" value="{{ article.cid }}" name="cid" />
        <input type="hidden" id="bid" value="{{ article.bid }}" name="bid" />
        {% if summarize %}
        <div class="slidecontainer">
            <label><b>Level of Text Summarization:</b></label><br />
            <p> None <input type="range" min="1" max="{{ max_level }}" value="1" class="slider" id="summaryVal"> Max</p>
        </div>
        {% endif %}
        <p class="navigation-links">
            <a href="{{ path('paustianbookmodule_user_toc', {bid:article.bid}) }}" title="{{ 'Table of Contents' | trans  }}" class="fa fa-book"></a>|
            <a href="{{ path('paustianbookmodule_user_displaychapter', {cid:article.cid}) }}" title="{{ 'Chapter Article List' | trans  }}" class="fa fa-bookmark"></a>|
            <span id="print-icon" title="{{ 'Printable Version' | trans  }}" class="fa fa-print"></span>
        </p>
        {% if article.prev !=0 %}
            <a href="{{ path('paustianbookmodule_user_displayarticle') }}/{{ article.prev }}" title="{{ 'Previous Article' | trans  }}" class="fa fa-arrow-left"></a>
        {% endif %}
        {% if article.next != 0 and article.prev != 0 %}
            |
        {% endif %}
        {% if article.next != 0 %}
            <a href="{{ path('paustianbookmodule_user_displayarticle') }}/{{ article.next }}" title="{{ 'Next Article' | trans  }}" class="fa fa-arrow-right"></a>
        {% endif %}
        <br />
        {{ content|raw }}
        <p>
            {% if article.prev !=0 %}
                <a href="{{ path('paustianbookmodule_user_displayarticle') }}/{{ article.prev }}" title="{{ 'Previous Article' | trans  }}" class="fa fa-arrow-left"></a>
            {% endif %}
            {% if article.next != 0 and article.prev != 0 %}
                |
            {% endif %}
            {% if article.next != 0 %}
                <a href="{{ path('paustianbookmodule_user_displayarticle') }}/{{ article.next }}" title="{{ 'Next Article' | trans  }}" class="fa fa-arrow-right"></a>
            {% endif %}
        </p>
        <p class="navigation-links"> <a href="{{ path('paustianbookmodule_user_toc') }}" title="{{ 'Table of Contents' | trans  }}" class="fa fa-book"></a>|
            <a href="{{ path('paustianbookmodule_user_displaychapter') }}/{{ article.cid }}" title="{{ 'Chapter Article List' | trans  }}" class="fa fa-bookmark"></a>|
            <span id="print-icon2" title="{{ 'Printable Version' | trans  }}" class="fa fa-print"></span>
        </p>
        {{ notifyDisplayHooks(constant('Paustian\\BookModule\\HookSubscriber\\ArticleUiHookSubscriber::ARTICLE_DISPLAY'), article.aid|default(null), return_url) }}
    </div>
</div>