
<div class="book_main">
{% if allow_dl==true %}<p>{{ __("Thanks for purchasing the book. You can download this book in eBook format by clicking on the appropriate link below") }}</p>
<p><a href="/download.php?f=images/ebook/TTM.epub">{{ __("Download the eBook in ePub Format.") }}</a>{{ __(" This is a format supported by the iPad and many other digital readers.") }}</p>
<p><a href="/download.php?f=images/ebook/TTM.mobi">{{ __("Download the eBook in Mobi Format.") }}</a>{{ __(" This is a format supported by the Kindle Reader") }}.</p>
{% else %}
<p>{{ __("You do not have a subscription to the website and therefore cannot download the eBook in epub or mobi format. If you would like access to this page, purchase a subscription to the site.") }}</p>
{% endif %}
</div>